body {
    background-color: rgb(9, 9, 62);
}

.bg {
    opacity: 0.8;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: auto;
}

.name {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-size: 50px;
    transition: top 0.3s ease-in-out;
  }
  
  .content.active#projects-content .name {
    top: 2%;
  }
  
  #projects-content .slide-up-content {
    margin: 0 auto;
    width: 60%;
  }

.statement p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 90%;
    color: #fff;
    margin: 1;
    font-size: 20px;
}

.menu {
    top: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    color: white;
    padding: 10px;
}

.menu-item {
    margin: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.menu-item:hover {
    color: rgb(211, 6, 122);
}

.slide-up-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #32025f;
    opacity: 0.8;
    padding: 20px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    color: white;
}

.slide-up-content.active {
    transform: translateY(0);
}

.info-content {
    position: fixed;
    color: #fff;
    margin: 10px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.slide-up-content a {
    color: white;
}
